@using MapTest
@model IEnumerable<MapTest.Models.Test2>
@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<html>
<body>
    <div class="jumbotron">
        <h1>Map Test Page</h1>
    </div>
    <div>
        @Html.ActionLink("List of locations", "Index", "Subjects")
    </div>
    <div id="map" style="width:100%;height:500px"></div>


    <script>
        function myMap() {
            var lat = 52.4283381;
            var lng = -1.601519;
            var myLatLng = { lat: 52.428381, lng: -1.601519 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: new google.maps.LatLng(lat, lng)
            });
        }
    </script>

    <script>
        @foreach (var mapVars in ViewData.Model)
        {
            <text>
            var marker = new google.maps.Marker
            ({
                position: new google.maps.LatLng(@mapVars.Lat, @mapVars.Long),
                map: map,
                title: "" + i,
            });

            </text>
        }
    </script>

    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfvqLwEOTU3oFoiJOmmloYJFYUA801lF8&callback=myMap"></script>



    @foreach (var i in ViewData.Model)
    {
        <p>location is </p><p>@i.Lat @i.Long</p>

    }


</body>





</html>